* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  background: #0C4842;
  overflow-y: auto;
}

.gloss {
  position: fixed;
  width: 100%;
  height: 478px;
  background: url(./images/gloss.png) repeat-x;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10%;
  height: 60px;
  width: 100%;
}

.app-header div {
  margin-right: 10px;
}

.app-header span {
  cursor: pointer;
}

.app-header span:hover {
  color: #A8D8B9;
}

.app-main {
  display: flex;
  height: calc(100% - 120px);
  width: 100%;
}

.app-main-body {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.body-inner {
  height: 100%;
  width: 100%;
}

.ball-view {
  position: absolute;
  top: -65px;
  right: 0px;
  width: 80px;
  height: 400px;
}

.ball {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #AD2333;
}

.ball-word {
  height: calc(100% - 80px);
  width: 100%;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}

.app-footer {
  height: 60px;
  width: 100%;
}

.table-view {
  /* height: 100%; */
  width: 100%;
}

.table-view>div {
  width: 50%;
  /* height: 50%; */
}

.table-row {
  display: flex;
  height: 54px;
  width: 100%;
}

.table-cell {
  height: 100%;
  flex: 1;
}

.cell-words {
  display: flex;
}

.hiragana-div {
  margin-right: 5px;
}

.test-view {
  display: none;
}


.dialog-view {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .6);
}

.show-dialog {
  animation: showDialog 3s ease;
}

.hide-dialog {
  animation: hideDialog 1s ease;
}


@keyframes showDialog {
  0% {
    transform: scale(.1deg);
  }

  100% {
    transform: scale(1deg);
  }
}

@keyframes hideDialog {
  0% {
    transform: scale(1deg);
  }

  100% {
    transform: scale(.5deg);
  }
}


.dialog-view .dialog-inner {
  position: relative;
  height: 500px;
  width: 60%;
  background: white;
  border-radius: 5px;
}

.dialog-view .dialog-inner .inner-tools {
  position: absolute;
  left: 10px;
  top: 0px;
  color: black;
  font-weight: bold;
  display: flex;
}

.dialog-view .dialog-inner .inner-tools>div {
  cursor: pointer;
  margin-right: 10px;
}

.inner-close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.inner-close::before {
  content: "";
  display: block;
  height: 1px;
  width: 15px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.inner-close::after {
  content: "";
  display: block;
  height: 1px;
  width: 15px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.dialog-view .dialog-inner .inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 34px);
  width: 100%;
}

.dialog-view .dialog-inner .inner-card .text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:200px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ccc;
  background: white;
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.dialog-view .dialog-inner .inner-card .text-box>div {
  text-align: center;
}

.dialog-view .dialog-inner .inner-btns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 100%;
}

.dialog-view .dialog-inner .inner-btns button {
  margin-left: 10px;
  cursor: pointer;
}